<h3><a class="btn btn-secondary" href="add_edit.hbs"><i class="fa fa-plus"></i> Create New</a> Word List</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Words</th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.word_value}}</td>
            <td>
                <a href="/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a href="/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this record ?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>